<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Curriculum - IPES</title>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="css/app.css" rel="stylesheet">
</head>

<body>
  <div id="app" setup>
    <div class="container-full" v-if="!cargaInicial">
      <div class="custom-loader"></div>
    </div>
    <div class="container-fluid py-5 px-2 background-container-titulo">
      <div class="container text-center">
        <h5 class="text-white">Formulario Docentes</h5>
        <h1 class="text-white">Datos Generales y Curriculum Vitae</h1>
      </div>
    </div>
    <div class="container-fluid py-4 parallax">
      <form @submit.prevent="validarFormulario()" enctype="multipart/form-data">
        <div class="container">
          <div class="row">
            <!-- PRIMERA PARTE -->
            <div class="col-12 pb-2">
              <span class="h5 color-label">DATOS GENERALES</span>
            </div>
            <div class="row pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-8">
                <label for="nombre" class="form-label">Nombre del Docente *</label>
                <input type="text" required class="form-control" id="nombre" placeholder="Nombre Completo"
                  v-model="nombre" @input="validateNombre">
                <span v-if="!nombreValido" class="color-error">Ingrese un nombre válido</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento *</label>
                <input type="date" required class="form-control" id="fecha_nacimiento" placeholder="MM/DD/YYYY"
                  pattern="\d{1,2}/\d{1,2}/\d{4}" v-model="fechaNacimiento" @input="validateFechaNacimiento">
                <span v-if="!fechaNacimientoValido" class="color-error">Ingrese una fecha de nacimiento válida</span>
              </div>
            </div>
            <!-- LUGAR NACIMIENTO -->
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h6 color-label">LUGAR DE NACIMIENTO</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="ln_ciudad" class="form-label">Ciudad *</label>
                <input type="text" required class="form-control" id="ln_ciudad" placeholder="" v-model="ciudad"
                  @input="validateCiudad">
                <span v-if="!ciudadValida" class="color-error">Ingrese la ciudad</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="ln_estado" class="form-label">Estado *</label>
                <input type="text" required class="form-control" id="ln_estado" placeholder="" v-model="estado"
                  @input="validateEstado">
                <span v-if="!estadoValido" class="color-error">Ingrese el estado</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="ln_pais" class="form-label">País*</label>
                <input type="text" required class="form-control" id="ln_pais" placeholder="" v-model="pais"
                  @input="validatePais">
                <span v-if="!paisValido" class="color-error">Ingrese el país</span>
              </div>
            </div>
            <!-- ESTADO CIVIL -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="estado_civil" class="form-label">Estado Civil *</label>
                <select required class="form-select" id="estado_civil" placeholder="" v-model="estadoCivil"
                  @input="validateEstadoCivil">
                  <option value="soltero" selected>Soltero/a</option>
                  <option value="casado">Casado/a</option>
                  <option value="union_libre">Unión libre</option>
                </select>
                <span v-if="!estadoCivilValido" class="color-error">Ingrese su estado civil</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="genero" class="form-label">Género *</label>
                <select required class="form-select" id="genero" placeholder="" v-model="genero"
                  @input="validateGenero">
                  <option value="hombre" selected>Hombre</option>
                  <option value="mujer">Mujer</option>
                </select>
                <span v-if="!generoValido" class="color-error">Ingrese su género</span>
              </div>
            </div>
            <div class="row pt-2 pb-3">
              <!-- CORREO -->
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="correo" class="form-label">Correo Electrónico *</label>
                <input type="email" required class="form-control" id="correo" placeholder="" v-model="correo"
                  @input="validateCorreo">
                <span v-if="!correoValido" class="color-error">Ingrese su correo electrónico</span>
              </div>
              <!-- CELULAR -->
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="celular" class="form-label">Celular * (###-###-####)</label>
                <input type="tel" required class="form-control" id="celular" placeholder="###-###-####"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" v-model="celular" @input="validateCelular">
                <span v-if="!celularValido" class="color-error">Ingrese su número de celular</span>
              </div>
            </div>
            <!-- FACEBOOK -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="facebook" class="form-label">Facebook URL</label>
                <input type="text" class="form-control" id="facebook"
                  placeholder="https://www.facebook.com/nombre-perfil/" v-model="facebook">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="telefono" class="form-label">Teléfono fijo</label>
                <input type="tel" class="form-control" id="telefono" placeholder="" v-model="telefono">
              </div>
            </div>
            <!-- DOMICILIO -->
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h6 color-label">DOMICILIO</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_calle" class="form-label">Calle *</label>
                <input type="text" required class="form-control" id="domicilio_calle" placeholder=""
                  v-model="domicilioCalle" @input="validateDomicilioCalle">
                <span v-if="!domicilioCalleValida" class="color-error">Ingrese la calle del domicilio</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_no_exterior" class="form-label">Número Exterior *</label>
                <input type="text" required class="form-control" id="domicilio_no_exterior" placeholder=""
                  v-model="domicilioNoExterior" @input="validateDomicilioNoExterior">
                <span v-if="!domicilioNoExteriorValido" class="color-error">Ingrese número exterior del domicilio</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_no_interior" class="form-label">Número Interior</label>
                <input type="text" class="form-control" id="domicilio_no_interior" placeholder="S/N"
                  v-model="domicilioNoInterior">
              </div>
            </div>
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_colonia" class="form-label">Colonia *</label>
                <input type="text" required class="form-control" id="domicilio_colonia" placeholder=""
                  v-model="domicilioColonia" @input="validateDomicilioColonia">
                <span v-if="!domicilioColoniaValida" class="color-error">Ingrese la colonia del domicilio</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_ciudad" class="form-label">Ciudad *</label>
                <input type="text" required class="form-control" id="domicilio_ciudad" placeholder=""
                  v-model="domicilioCiudad" @input="validateDomicilioCiudad">
                <span v-if="!domicilioCiudadValida" class="color-error">Ingrese la ciudad del domicilio</span>
              </div>
            </div>
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_estado" class="form-label">Estado *</label>
                <input type="text" required class="form-control" id="domicilio_estado" placeholder=""
                  v-model="domicilioEstado" @input="validateDomicilioEstado">
                <span v-if="!domicilioEstadoValido" class="color-error">Ingrese el estado del domicilio</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="domicilio_cp" class="form-label">Código Postal * (#####)</label>
                <input type="text" required class="form-control" id="domicilio_cp" placeholder="#####"
                  pattern="[0-9]{5}" v-model="domicilioCodigoPostal" @input="validateDomicilioCodigoPostal">
                <span v-if="!domicilioCodigoPostalValido" class="color-error">Ingrese el código postal del
                  domicilio</span>
              </div>
            </div>
            <!-- DATOS FISCALES -->
            <hr class="text-white mt-3" />
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h5 color-label">DATOS FISCALES</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="rfc" class="form-label">RFC</label>
                <input type="text" class="form-control" id="rfc" placeholder="" v-model="rfc">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="curp" class="form-label">CURP</label>
                <input type="text" class="form-control" id="curp" placeholder="" v-model="curp">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="clabe" class="form-label">CLABE Interbancaria</label>
                <input type="text" class="form-control" id="clabe" placeholder="" v-model="clabe">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="banco" class="form-label">Banco</label>
                <input type="text" class="form-control" id="banco" placeholder="" v-model="banco">
              </div>
            </div>
            <!-- DIRECCION FISCAL -->
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h6 color-label">DIRECCIÓN FISCAL</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_calle" class="form-label">Calle</label>
                <input type="text" class="form-control" id="fiscal_calle" placeholder="" v-model="fiscalCalle">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_no_exterior" class="form-label">Número Exterior</label>
                <input type="text" class="form-control" id="fiscal_no_exterior" placeholder="S/N"
                  v-model="fiscalNoExterior">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_no_interior" class="form-label">Número Interior</label>
                <input type="text" class="form-control" id="fiscal_no_interior" placeholder=""
                  v-model="fiscalNoInterior">
              </div>
            </div>
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_colonia" class="form-label">Colonia</label>
                <input type="text" class="form-control" id="fiscal_colonia" placeholder="" v-model="fiscalColonia">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="fiscal_ciudad" placeholder="" v-model="fiscalCiudad">
              </div>
            </div>
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_estado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="fiscal_estado" placeholder="" v-model="fiscalEstado">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="fiscal_cp" class="form-label">Código Postal (#####)</label>
                <input type="text" class="form-control" id="fiscal_cp" placeholder="#####" pattern="[0-9]{5}"
                  v-model="fiscalCodigoPostal">
              </div>
            </div>
            <hr class="text-white mt-3">
            <!-- ACTIVIDAD PREPONDERANTE -->
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h5 color-label">ACTIVIDAD PREPONDERANTE (SEÑALE EL PORCENTAJE DE SUS INGRESOS)</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="porcentaje_actividad_profesional" class="form-label">Actividad Profesional %</label>
                <input type="number" min="0" max="100" class="form-control" id="porcentaje_actividad_profesional"
                  placeholder="0 - 100 %" v-model="porcentajeActividadProf">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="porcentaje_asalariado" class="form-label">Empleado y/o Asalariado %</label>
                <input type="number" min="0" max="100" class="form-control" id="porcentaje_asalariado"
                  placeholder="0 - 100 %" v-model="porcentajeAsalariado">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="porcentaje_pensionado" class="form-label">Pensionado %</label>
                <input type="number" min="0" max="100" class="form-control" id="porcentaje_pensionado"
                  placeholder="0 - 100 %" v-model="porcentajePensionado">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-sm-6 col-md-3">
                <label for="porcentaje_docencia" class="form-label">Docencia %</label>
                <input type="number" min="0" max="100" class="form-control" id="porcentaje_docencia"
                  placeholder="0 - 100 %" v-model="porcentajeDocencia">
              </div>
            </div>
            <hr class="text-white mt-3">
            <!-- INFORMACIÓN COMPLEMENTARIA -->
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h5 color-label">INFORMACIÓN COMPLEMENTARIA</span>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="enfermedades" class="form-label">Enfermedad(es) crónica(s)</label>
                <input type="text" class="form-control" id="enfermedades" placeholder="" v-model="enfermedades">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="alergias" class="form-label">Alergia(s)</label>
                <input type="text" class="form-control" id="alergias" placeholder="" v-model="alergias" alergias>
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="tipo_sangre" class="form-label">Tipo de Sangre</label>
                <select class="form-select" id="tipo_sangre" v-model="tipoSangre">
                  <option value="" selected>Selecciona una opción</option>
                  <option value="A+">A+</option>
                  <option value="O+">O+</option>
                  <option value="B+">B+</option>
                  <option value="AB+">AB+</option>
                  <option value="A-">A-</option>
                  <option value="O-">O-</option>
                  <option value="B-">B-</option>
                  <option value="AB-">AB-</option>
                </select>
              </div>
              <div class="row row pt-2 pb-3">
                <div class="mb-3 mb-md-0 col-xs-12 col-md-12">
                  <label for="nombre" class="form-label">Información adicional</label>
                  <textarea class="form-control" id="informacionAdicional" rows="3" v-model="informacionAdicional"
                    placeholder="Escriba algo que quiera añadir o mencionar para completar su información."></textarea>
                </div>
              </div>
            </div>
            <hr class="text-white mt-3">
            <!-- DOCUMENTACION -->
            <div class="row pt-2 pb-3">
              <div class="col-12 pb-2">
                <span class="h5 color-label">DOCUMENTOS ENTREGADOS PARA EL EXPEDIENTE (Adjuntar Copias de los Documentos
                  en Formato
                  PDF)</span>
              </div>
              <!-- CV -->
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_cv" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_cv"
                  @change="e => archivoCurriculum = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_cv" class="form-label">Currículum</label>
                <input type="text" class="form-control" id="descripcion_cv" placeholder="Descripción del curriculum"
                  :disabled="archivoCurriculum == null" v-model="descripcionCurriculum">
              </div>
            </div>
            <!-- INE -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_ine" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_ine"
                  @change="e => archivoIne = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_ine" class="form-label">INE</label>
                <input type="text" class="form-control" id="descripcion_ine" placeholder="Descripción de la INE"
                  :disabled="archivoIne == null" v-model="descripcionIne">
              </div>
            </div>
            <!-- CURP -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_curp" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_curp"
                  @change="e => archivoCurp = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_curp" class="form-label">CURP</label>
                <input type="text" class="form-control" id="descripcion_curp" placeholder=""
                  :disabled="archivoCurp == null" v-model="descripcionCurp">
              </div>
            </div>
            <!-- COMPROBANTE DOMICILIO -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_domicilio" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_domicilio"
                  @change="e => archivoDomicilio = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_domicilio" class="form-label">Comprobante Domiciliario</label>
                <input type="text" class="form-control" id="descripcion_domicilio"
                  placeholder="Descripción del comprobante" :disabled="archivoDomicilio == null"
                  v-model="descripcionDomicilio">
              </div>
            </div>
            <!-- CONSTANCIA DE SITUACIÓN FISCAL -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_situacion_fiscal" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_situacion_fiscal"
                  @change="e => archivoSituacionFiscal = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_situacion_fiscal" class="form-label">Comprobante de Situación Fiscal</label>
                <input type="text" class="form-control" id="descripcion_situacion_fiscal" placeholder=""
                  :disabled="archivoSituacionFiscal == null" v-model="descripcionSituacionFiscal">
              </div>
            </div>
            <!-- ACTA DE NACIMIENTO -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_acta" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_acta"
                  @change="e => archivoActaNacimiento = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_acta" class="form-label">Acta de Nacimiento</label>
                <input type="text" class="form-control" id="descripcion_acta" placeholder=""
                  :disabled="archivoActaNacimiento == null" v-model="descripcionActaNacimiento">
              </div>
            </div>
            <!-- CÉDULA PROFESIONAL -->
            <div class="row pt-2 pb-3">
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="archivo_cedula" class="form-label">No Hay Archivo Adjuntado</label>
                <input class="form-control" accept=".pdf" type="file" id="archivo_cedula"
                  @change="e => archivoCedula = e.target.files[0]">
              </div>
              <div class="mb-3 mb-md-0 col-xs-12 col-md-4">
                <label for="descripcion_cedula" class="form-label">Cédula Profesional</label>
                <input type="text" class="form-control" id="descripcion_cedula"
                  placeholder="Descripción de la Cédula Profesional" :disabled="archivoCedula == null"
                  v-model="descripcionCedula">
              </div>
            </div>
          </div>
          <div class="pt-2 col-12 text-center">
            <button type="submit" class="col-3 btn btn-primary btn-lg">ENVIAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="bootstrap/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="js/vue3.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/main.js" type="module"></script>
</body>

</html>